<div class="card">
    <div class="card-body">
        <h4 class="card-header">Thêm Nhân Viên</h4>
        <form class="forms-sample" action="/conno/nhanvien/add" method="POST">
            <div class="form-group">
                <label for="exampleInputPassword4">Mã NV</label>
                <input name="IdNV" class="form-control" type="text" placeholder="NV001">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Số cmnd</label>
                <input name="Cmnd" class="form-control" type="text" placeholder="01225232">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Tên</label>
                <input name="TenNV" class="form-control" type="text" placeholder="Nguyen Van A">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Giới Tính</label>
                <input name="GioiTinh" class="form-control" type="text" placeholder="Nam or Nu">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Số Phone</label>
                <input name="Sdt" class="form-control" type="text" placeholder="0125486324">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Ngày vào</label>
                <input name="NgayVao" class="form-control" type="text" placeholder="2019-07-20">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Email</label>
                <input name="Email" class="form-control" type="text" placeholder="abc@gmail.com">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Ca</label>
                <input name="Ca" class="form-control" type="text" placeholder="1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Lương</label>
                <input name="LuongNV" class="form-control" type="text" placeholder="45">
            </div>
            <button type="submit" class="btn btn-success">
                SAVE
            </button>
        </form>
    </div>
</div>