<% include ../partials/header %>
<div class="container my-table">
    <div class="card card-table row">
        <% obj.forEach(function(obj) { %>
        <div class="card-body body-table col-3">
            <div class="firt-table">
                <span class="badge badge-light"><%= obj.tenban %></span>
                <span class="badge badge-light"><%= obj.trangthai %></span>
            </div>
            <div class="line" style="border: 1px solid #fff; width: 100%">
                </hr>
            </div>
            <div class="end-table">
                <%if (obj.trangthai == 0) { %>
                <a href="/conno/user/foods">
                    <button class="btn btn-warning">Order</button>
                </a>
                <% } %>

                <%if (obj.trangthai == 1) { %>
                <a href="/conno/user/table/detail/<%= obj.idban %>/<%= obj.idban %>">
                    <button class="btn btn-success">Detail</button>
                </a>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>
</div>