<div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block" style="color: white !important">
        Copyright © 2019
        <a href="https://www.facebook.com/" target="_blank">Nguyễn Văn Tý</a>.
        All rights reserved.
    </span>
</div>