<div class="head-left nav-logo col-12 col-sm-4 col-md-3 col-lg-3" style="height: 63px; background-color: white; display: flex; align-items: center; justify-content: center;">
  <a class="brand-logo" href="#" style="text-decoration: none">
    <img src="/images/Logo.png" class="img-fluid" alt="Responsive image" style="height: 63px"/>
  </a>
  <a class="brand-logo-mini" href="/" style=" text-decoration: none">
    CONNO
  </a>
</div>
<div class="head-right col-12 col-sm-8 col-md-9 col-lg-9" style="height: 63px; display: flex; justify-content: flex-end; background: linear-gradient(120deg, #00e4d0, #5983e8);">
  <div class="dropdown menu">
    <span style="color: white">Nguyễn Văn Tý</span>
    <div style="height: 63px; display: inline-block" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <img class="img-xs rounded-circle img-fluid" style="height: 63px" src="/images/face1.jpg" alt="Profile image">
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="/">Log Out</a>
    </div>
  </div>
</div>