<nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color: #fff;height: 100%;">
  <ul class="list-group" style="list-style: none">
    <li class="info" style="border-bottom: 1px solid #eee">
      <img src="/images/face1.jpg" class="img-fluid" alt="Responsive image">
      <div class="profile">
        <p>Nguyen Van Ty</p>
        <p>Manager</p>
      </div>
    </li>
    <li class="list-item">
      <a href="/conno/dashboard">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="list-item">
      <a href="/conno/nhanvien">
        <i class="fas fa-users"></i>
        <span>Nhân Viên</span>
      </a>
    </li>
    <li class="list-item">
      <a href="/conno/bill">
        <i class="fas fa-money-bill-alt"></i>
        <span>Hóa Đơn</span>
      </a>
    </li>
    <li class="list-item">
      <a href="/conno/sale">
        <i class="far fa-chart-bar"></i>
        <span>Doanh Thu</span>
      </a>
    </li>
  </ul>
</nav>